<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Generator</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>GiggleHub</h1>
    </header>
    <main>
        <% if (locals.greeting) { %>
        <form action="/submit" method="POST">
            <h1>Try not to laugh!</h1>
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Get Joke</button>
        </form>
        <% if (locals.greeting && locals.you && locals.question && locals.punchLine) { %>
            <div id="joke">
                <% 
                let length = locals.greeting.length;
                let n = Math.random();
                n = Math.floor(n * length);   
                %>
                <p><%= locals.greeting[n] %> <%= locals.you + ", " %> <%= locals.question %></p>
                <p><%= locals.punchLine %></p>
            </div>
        <% } else { %>
            <p class="error-message">Error: Missing joke data.</p>
        <% } %>
        <% } else { %>
        <h1><%= locals.title %></h1>
        <form action="/submit" method="POST">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Get Joke</button>
        </form>
        <% } %>
    </main>
    <footer>
        <p>&copy; 2024 GiggleHub</p>
    </footer>
</body>
</html>
